<h3>{{title}}</h3>
<hr />
<form class="form-horizontal">

<div class="control-group">
	<label class="control-label" for="input01">Company Name</label>

	<div class="controls">
		<input type="text" class="input-xlarge" placeholder="Company Name">
	</div>

</div>

<div class="control-group">
	<label class="control-label" for="input01">Status</label>

	<div class="controls">
		<select>
			<option>Active</option>
			<option>Inactive</option>
		</select>
		<p class="help-block">Inactive companies are only visible to system administrators.</p>
	</div>

</div>

<div class="form-actions">
	<a href="#company/exampleCompanySlug/financials" class="btn btn-primary">Add Company</a>
</div>

</form>
