@using Euclid.Composite.MvcApplication.Models
@using Euclid.Framework.Models
@model IInputModel

<h1>@ViewBag.Title</h1>

@using (Html.BeginForm())
{
	@Html.ValidationSummary(true)

	<fieldset>
		@Html.EditorFor(p => Model)
	</fieldset>
    
	<input type="submit" value="Publish Command" />
}

@{
    var footer = (FooterLinkModel) ViewBag.Navigation;
    Html.RenderPartial("MetadataLinks", footer);
}
