@{
	ViewBag.Title = "Signin to the admin";
	Layout = "_AnonymousLayout.cshtml";
}

@section bodyClass {
	login
}

<script type="text/javascript" src="@Url.Content("~/Content/jquery.cookie.js")"></script>
<script type="text/javascript">
	$(document).ready(function () {
		$("#username").val($.cookie("newco-admin"));

		if ($.cookie("newco-admin") != null) {
			$("#remember-me").prop("checked", true);
		}

		$("#signin").click(function () {
			if ($("#remember-me").is(":checked")) {
				var username = $("#username").val();
				$.cookie("newco-admin", username);
			} else {
				$.cookie("newco-admin", null);
			}
		});
	});
</script>

<a href="/" title="Back to Homepage"></a>

<!-- Login box -->
<article id="login-box">
		
	<div class="article-container">
			
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et dignissim metus. Maecenas id augue ac metus tempus aliquam. </p>
				
		<!-- Notification -->
		@if (!string.IsNullOrEmpty(ViewBag.Error))
		{
			<div class="notification error">
				<a href="#" class="close-notification" rel="tooltip" original-title="Hide Notification">x</a>
				<p><strong>Error</strong> @ViewBag.Error</p>
			</div>
		}
		<!-- /Notification -->
			
		@using (Html.BeginForm())
		{
			<form action="#">
				<fieldset>
					<dl>
						<dt>
							<label>Username</label>
						</dt>
						<dd>
							<input type="text" class="large" id="username" name="username">
						</dd>
						<dt>
							<label>Password</label>
						</dt>
						<dd>
							<input type="password" class="large" name="password">
						</dd>
						<dt class="checkbox"><label for="remember-me">Remember me</label></dt>
						<dd><input type="checkbox" id="remember-me"></dd>
					</dl>
				</fieldset>
				<input type="submit" class="right" id="signin" value="Log in" />
			</form>
		}
	</div>
		
</article>
<!-- /Login box -->

<ul class="login-links">
	<li><a href="@Url.Action("ForgotPassword", "Authentication")">Forgot Password</a></li>
	<li><a href="@Url.Action("Create", "Authentication")">Signup</a></li>
</ul>