<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="2.0.0" />
  <package id="Castle.Core" version="2.5.2" />
  <package id="Castle.Windsor" version="2.5.4" />
  <package id="CommonServiceLocator" version="1.0" />
  <package id="CommonServiceLocator.WindsorAdapter" version="1.0" />
  <package id="EntityFramework" version="4.1.10331.0" />
  <package id="FluentNHibernate" version="1.3.0.717" />
  <package id="Glimpse" version="0.87" />
  <package id="Glimpse.Mvc3" version="0.87" />
  <package id="Iesi.Collections" version="3.2.0.4000" />
  <package id="jQuery" version="1.5.1" />
  <package id="jQuery.UI.Combined" version="1.8.11" />
  <package id="jQuery.Validation" version="1.8.0" />
  <package id="jQuery.vsdoc" version="1.5.1" />
  <package id="log4net" version="1.2.10" />
  <package id="Modernizr" version="1.7" />
  <package id="Nancy" version="0.9.0" />
  <package id="Nancy.Bootstrappers.Windsor" version="0.9.0" />
  <package id="Nancy.Hosting.Aspnet" version="0.9.0" />
  <package id="Nancy.Viewengines.Razor" version="0.9.0" />
  <package id="NConfig" version="1.0.12" />
  <package id="Newtonsoft.Json" version="4.0.2" />
  <package id="NHibernate" version="3.2.0.4000" />
  <package id="routedebugger" version="2.0.0.7" />
</packages>