<h3>{{storeName}} Product Catalog</h3>
<hr />
<a href="#store/{{storeSlug}}/productCatalog/add" class="btn btn-primary pull-right">
	Add Product</a>
<table class="table table-striped">
	<thead>
		<tr>
			{{#each tableHeaders}}
			<th>{{this}}</th>
			{{/each}}
		</tr>
	</thead>
	<tbody>
		{{#each tableData}}
		<tr>
			<td>{{this.category}}</td>
			<td>{{this.name}}</td>
			<td>{{this.forSale}}</td>
			<td>{{this.stock}}</td>
			<td>{{this.price}}</td>
			<td>{{this.discount}}</td>
			<td>

				<div class="btn-group">
					<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Actions <span class="caret">
					</span></a>
					<ul class="dropdown-menu">
						<li><a href="#store/{{../storeSlug}}/productCatalog/exampleProductSlug/details">View
							Details</a> </li>
					</ul>
				</div>

			</td>
		</tr>
		{{/each}}
	</tbody>
	<tfoot>
		<tr>
			<td colspan="7">

				<div class="pagination pagination-right">
					<ul>
						<li><a href="#">Prev</a> </li>
						<li class="active"><a href="#">1</a> </li>
						<li><a href="#">2</a> </li>
						<li><a href="#">3</a> </li>
						<li><a href="#">4</a> </li>
						<li><a href="#">Next</a> </li>
					</ul>
				</div>

			</td>
		</tr>
	</tfoot>
</table>
