@model object

@{
	ViewBag.Title = "Forgot Password";
	Layout = "_AnonymousLayout.cshtml";
}

@section bodyClass {
	login
}

<a href="/" title="Back to Homepage"></a>

<!-- Login box -->
<article id="login-box">
		
	<div class="article-container">
			
		<p>We will send an email that conains a link to reset your password to the email address associated with your username.</p>
				
		<!-- Notification -->
		<div class="notification error" style="display: none">
			<a href="#" class="close-notification" rel="tooltip" original-title="Hide Notification">x</a>
			<p><strong>Error notification</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vulputate, sapien quis fermentum luctus, libero.</p>
		</div>
		<!-- /Notification -->
			
		<form action="#">
			<fieldset>
				<dl>
					<dt>
						<label>Username</label>
					</dt>
					<dd>
						<input type="text" class="large">
					</dd>
				</dl>
			</fieldset>
			<button type="button" class="right" id="signin">Reset Password</button>
		</form>
			
	</div>
</article>
<!-- /Login box -->

<ul class="login-links">
	<li><a href="@Url.Action("Signin", "Authentication")">Signin</a></li>
	<li><a href="@Url.Action("Create", "Authentication")">Signup</a></li>
</ul>