@using System.Globalization
@model object
@{
	ViewBag.Title = "Configure Authentication Providers";
}

<script type="text/javascript">
	$(document).ready(function () {
		$("#edit").click(function () {
			$("#edit").hide();
			$("#save").show();
			$("#cancel").show();
		});

		$("#cancel").click(function () {
			window.location.reload();
		});
	});
</script>
<article>
	<header>
		<h2>@ViewBag.Title</h2>
	</header>
	<p>An active authentication provider can be used by new users to register and authenticate accounts with your forum.</p>
	<table>
		<thead>
			<tr>
				<th>Active</th>
				<th>Name</th>
			</tr>
		</thead>
		<tfoot>
			<td colspan="2">
				<ul class="button-switch">
					<li><button type="button" id="edit">Edit</button></li>
					<li><button type="submit" id="save" class="green" style="display: none">Save</button></li>
					<li><button type="button" id="cancel"  style="display: none">Cancel</button></li>
				</ul>
			</td>
		</tfoot>
		<tbody>
			<tr>
				<td>
					<input type="checkbox" checked="checked" disabled="disabled" /></td>
				<td>Built-in</td>
			</tr>
			@*<tr>
				<td>
					<input type="checkbox" /></td>
				<td>OAuth</td>
			</tr>
			<tr>
				<td>
					<input type="checkbox" /></td>
				<td>Google</td>
			</tr>
			<tr>
				<td>
					<input type="checkbox" /></td>
				<td>Twitter</td>
			</tr>
			<tr>
				<td>
					<input type="checkbox" /></td>
				<td>Azure ACS</td>
			</tr>
			<tr>
				<td>
					<input type="checkbox" /></td>
				<td>Active Directory</td>
			</tr>*@
		</tbody>
	</table>

	<div class="notification attention">
		<p>
		<strong>Warning</strong> 
		if you disable an authentication provider that users have already usedto register with, those users will no longer have access to the forum.
		<p>
	</div>
</article>

@section Breadcrumbs{
	<ul id="breadcrumbs">
		<li>@Html.ActionLink("Home", "Index", "Dashboard")</li>
		<li>@CultureInfo.CurrentCulture.TextInfo.ToTitleCase(ViewBag.ForumName)</li>
		<li>@ViewBag.Title</li>
	</ul>
}