<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
	<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
	<section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
	  <sectionGroup name="NUnit">
		  <section name="TestRunner" type="System.Configuration.NameValueSectionHandler"/>
	  </sectionGroup>
  </configSections>
  <connectionStrings>
	  <add name="test-db" connectionString="{override me}" />
	  <add name="Sqlite_InMemory" providerName="System.Data.SQLite" connectionString="Data Source=:memory:;Version=3;New=True" />
  </connectionStrings>
  <system.data>
	<DbProviderFactories>
	  <remove invariant="System.Data.SQLite" />
	  <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
	</DbProviderFactories>
  </system.data>
  <startup useLegacyV2RuntimeActivationPolicy="true">
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
	<add key="DataConnectionString" value="UseDevelopmentStorage=true" />
  </appSettings>
  <log4net>
	<root>
	  <priority value="INFO" />
	  <appender-ref ref="Console" />
	</root>
	<logger name="NHibernate">
	  <level value="WARN" />
	</logger>
	<appender name="Console" type="log4net.Appender.ConsoleAppender">
	  <layout type="log4net.Layout.PatternLayout">
		<conversionPattern value="%d{HH:mm:ss} [%4p] %.15c - %m%n" />
	  </layout>
	</appender>
  </log4net>
  <specFlow>
	<!-- For additional details on SpecFlow configuration options see https://github.com/techtalk/SpecFlow/wiki/Configuration -->
  </specFlow>
	<NUnit>
		<TestRunner>
			<!-- Uncomment this line when using Watin
			<add key="ApartmentState" value="STA" />
			-->
		</TestRunner>
	</NUnit>
</configuration>