body
{
	padding-top: 60px;
}

.badge-labels
{
	vertical-align: top;
}

.badge-username
{
	line-height: 25px;
}

.alert-actions
{
	margin-top: 15px !important;
}

.pagination
{
	text-align: right;
}

form {
	margin-bottom: 0px;
}