@model string

<div id="confirm" class="notification attention" style="height: 300px">
	<p>
		<strong>Confirmation</strong> 
	
		@Model
	</p>

	<a href="#" class="yes button-link" style="float: right; margin-left: 10px">Yes</a>
	<a href="#" class="no simplemodal-close button-link" style="float: right">No</a>
</div>