<div id='delete-usage-error'>
	<div class='notification error' >
		<div><strong>Required Attributes Missing</strong></div>
		<p>
			<b>data-confirmation-message</b>: the message to display in the confirmation pop-up.
		</p>
		<p>
			<b>data-confirm-function</b>: the name of the function to execute once the user confirms the deletion.
		</p>
		<p>
			<b>data-item-id</b>: the id of the element to delete.
		</p>
	</div>
</div>