@{
	ViewBag.Title = "Dashboard";
}

<article>
	<header>
		<h2 style="">Hello, @AdminInfo.AuthenticatedUserFirstName</h2>
	</header>
</article>

<section>
	<fieldset>
		<legend>User Activity</legend>
		<br/>
		<table class="data" data-chart="line">
			<thead>
				<tr>
					<td></td>
					<th scope="col">12/12/2011</th>
					<th scope="col">12/12/2011</th>
					<th scope="col">12/12/2011</th>
					<th scope="col">12/12/2011</th>
					<th scope="col">Yesterday</th>
					<th scope="col">Today</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">Posts</th>
					<td>190</td>
					<td>160</td>
					<td>40</td>
					<td>120</td>
					<td>30</td>
					<td>70</td>
				</tr>
				<tr>
					<th scope="row">Comments</th>
					<td>3</td>
					<td>40</td>
					<td>30</td>
					<td>45</td>
					<td>35</td>
					<td>49</td>
				</tr>
				<tr>
					<th scope="row">Upvotes</th>
					<td>10</td>
					<td>180</td>
					<td>10</td>
					<td>85</td>
					<td>25</td>
					<td>79</td>
				</tr>
				<tr>
					<th scope="row">Downvotes</th>
					<td>40</td>
					<td>80</td>
					<td>90</td>
					<td>25</td>
					<td>15</td>
					<td>119</td>
				</tr>
			</tbody>
		</table>
	</fieldset>
</section>

@section Breadcrumbs {
	<ul id="breadcrumbs">

	</ul>
}