@using ForumSkeletonMvc.ViewModels.Pages
@model InfoPageViewModel
@{
	ViewBag.Title = "{Forum Name} Info";
	Layout = "~/Views/Shared/_ForumLayout.cshtml";
	ViewBag.InfoClass = "active";
}
<h1>Forum Info</h1>
<hr />
<p><small>(Forum info here.)</small></p>
