<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8" />
		<title>Composite Inspector</title>
		<script type="text/javascript" src="/composite/js/jquery/jquery-1.7.1.min.js"> </script>
		<script type="text/javascript" src="/composite/js/jquery/jquery-ui-1.8.16.custom.min.js"> </script>
		<script type="text/javascript" src="/composite/js/bootstrap/bootstrap.min.js"> </script>
		<script type="text/javascript" src="/composite/js/handlebars/handlebars-1.0.0.beta.6.js"> </script>
		<script type="text/javascript" src="/composite/js/handlebars/Andromeda-handlebars-extensions.js"></script>
		<script type="text/javascript" src="/composite/js/Andromeda-prototype-extensions.js"> </script>
		<script type="text/javascript" src="/composite/js/jquery/Andromeda-jquery-extensions.js"> </script>
		<script type="text/javascript" src="/composite/js/Andromeda-0.9.js" ></script>

		<link rel="Stylesheet" type="text/css" href="/composite/css/composite-inspector.css" />
		<link rel="Stylesheet" type="text/css" href="/composite/css/smoothness/jquery-ui-1.8.16.custom.css" />
		<link rel="stylesheet" type="text/css" href="/composite/css/bootstrap/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="/composite/css/bootstrap/bootstrap-subnav.css" />
	</head>

	<body style="padding-top:60px">
		
		<div class="navbar navbar-fixed-top" id="navbar-container">
			<div class="navbar-inner">
				<div class="container">
					<div>
						<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</a>

						<a class="brand" href="/composite/details" id="composite-name">{{Name}}</a>

						<ul class="nav">
							<li class="dropdown clear-agent-display">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Queries <b class="caret"></b></a>
								<div id="composite-queries"></div>
							</li>

							<li class="dropdown clear-agent-display">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Input Models <b class="caret"></b></a>
								<div id="composite-inputmodels"></div>
							</li>
					
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Agents <b class="caret"></b></a>
								<div id="composite-agents">
									<ul class="dropdown-menu">
										{{#each Agents}}
										<li class="dropdown">
											<a class="agent" href="#" data-agent-system-name="{{SystemName}}" rel="tooltip" data-original-title="{{Description}}">{{DescriptiveName}}</a>
										</li>
										{{/each}}
									</ul>
								</div>
							</li>

							<li><a href="#" id="view-command-registry" class="clear-agent-display">Command Registry</a></li>
							<li><a href="#" id="view-composite-logs" class="clear-agent-display">Logs</a></li>
						</ul>
					</div>
				</div>
			</div>
			<span id="composite-description">{{Description}}</span>
		</div>

		<div id="agent-output"></div>

		<div class="row">
			<div id="output" class="span12"></div>
		</div>

		<div class="row">
			<div id="Andromeda-error-output" class="span12 hide"></div>
		</div>
	</body>
	
	<script type="text/javascript">
		/// <reference path="/Assets/Scripts/Andromeda-0.9.js" />
		var RECORDS_PER_PAGE = 7;
		var display = "#output";


		WorkWithDataFromUrl("/composite/api", function (compositeMetadata) {
			Using(compositeMetadata).Fill("#composite-name").TargetIsTemplate();

			Using(compositeMetadata).Fill("#composite-description").TargetIsTemplate();

			var queryRenderData = { ListClass: "dropdown-menu", ItemClass: "dropdown", Queries: compositeMetadata.Queries };
			Using(queryRenderData).Fill("#composite-queries").With("/composite/ui/template/queries");

			var inputModelRenderData = { ListClass: "dropdown-menu", ItemClass: "dropdown", InputModels: compositeMetadata.InputModels };
			Using(inputModelRenderData).Fill("#composite-inputmodels").With("/composite/ui/template/input-models");

			Using(compositeMetadata).Fill("#composite-agents").TargetIsTemplate();
		});

		$(document).on("click", ".agent", function () {
			$(display).empty();
			var systemName = $(this).attr("data-agent-system-name");
			WorkWithDataFromUrl("/composite/api/agent/" + systemName, function (agentMetadata) {
				Using(agentMetadata).Fill("#agent-output").With("/composite/ui/template/agent");
			});
		});

		$(document).on("click", ".clear-agent-display", function() {
			$("#agent-output").empty();
		});

		var logQuery;
		var recordQuery;

		$(document).on("click", "#view-command-registry", function () {
			getPublicationRecords(1);
		});

		$(document).on("click", "#view-composite-logs", function () {
			getLogEntries(1);
		});


		function getPublicationRecords(pageNumber) {
			console.log("getPublicationRecords(" + pageNumber + ")");
			var offset = (pageNumber - 1) * RECORDS_PER_PAGE;
			RunQuery(
				"CommandRegistryQueries.GetPublicationRecords",
				{ offset: offset, recordsPerPage: RECORDS_PER_PAGE },
				function(results) {
					var pagerData = results;
					pagerData["pageHandler"] = "getPublicationRecords";
					Using(results).Render("/composite/ui/template/command-registry-table").Manipulate(function(content) {
						$("#output").replaceContent(content);
						Using(pagerData).Render("/composite/ui/template/pager").Manipulate(function(pager) { $(display).append(pager); });
					});
				});
		}

		function getLogEntries(pageNumber) {
			var offset = (pageNumber - 1) * RECORDS_PER_PAGE;
			RunQuery(
				"LogQueries.GetLogEntries",
				{ offset: offset, pageSize: RECORDS_PER_PAGE },
				function (results) {
					var pagerData = results;
					pagerData["pageHandler"] = "getLogEntries";
					Using(results).Render("/composite/ui/template/log-entry-table").Manipulate(function (content) {
						$("#output").replaceContent(content);
						Using(pagerData).Render("/composite/ui/template/pager").Manipulate(function (pager) { $(display).append(pager); });
					});
				}
			);
		}
	</script>
</html>