	<h3>{{title}}</h3>
	<hr/>
	<form class="form-horizontal">
		<div class="control-group">
			<label class="control-label" for="input01">First Name</label>
			<div class="controls">
				<input type="text" class="input-xlarge" placeholder="First Name">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="input01">Last Name</label>
			<div class="controls">
				<input type="text" class="input-xlarge" placeholder="Last Name">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="input01">Email</label>
			<div class="controls">
				<input type="text" class="input-xlarge" placeholder="Email">
			</div>
		</div>
		<div class="form-actions">
			<a href="#sysadmin/administrators" class="btn btn-primary">Add Administrator</a>
		</div>
	</form>
