<h3>{{storeName}} Customers</h3>
<hr />
<a href="#store/{{storeSlug}}/customers/invite" class="btn btn-primary pull-right">
	Invite Customer</a>
<table class="table table-striped">
	<thead>
		<tr>
			{{#each tableHeaders}}
			<th>{{this}}</th>
			{{/each}}
		</tr>
	</thead>
	<tbody>
		{{#each tableData}}
		<tr>
			<td>{{this.email}}</td>
			<td>{{this.username}}</td>
			<td>{{this.signupDate}}</td>
			<td>{{this.totalPurchaseAmount}}</td>
			<td>

				<div class="btn-group">
					<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Actions <span class="caret">
					</span></a>
					<ul class="dropdown-menu">
						<li><a href="#store/{{../storeSlug}}/customers/exampleCustomerSlug/profile">View Profile</a>
						</li>
						<li><a href="#store/{{../storeSlug}}/customers/exampleCustomerSlug/reset">Reset Password</a>
						</li>
						<li><a href="#store/{{../storeSlug}}/customers/exampleCustomerSlug/contact">Contact</a>
						</li>
					</ul>
				</div>

			</td>
		</tr>
		{{/each}}
	</tbody>
	<tfoot>
		<tr>
			<td colspan="6">

				<div class="pagination pagination-right">
					<ul>
						<li><a href="#">Prev</a> </li>
						<li class="active"><a href="#">1</a> </li>
						<li><a href="#">2</a> </li>
						<li><a href="#">3</a> </li>
						<li><a href="#">4</a> </li>
						<li><a href="#">Next</a> </li>
					</ul>
				</div>

			</td>
		</tr>
	</tfoot>
</table>
