<section id="widgets-container">

	<div class="widget increase" id="widget-forumcount">
		<span>increase</span>
		<p><strong>Forum Count</strong> +29 Lorem Ipsum</p>
	</div>

	<div class="widget text-only increase" id="widget-usercount">
		<span>increase</span>
		<p><strong>User Count</strong> +29 Lorem Ipsum</p>
	</div>

	<div class="widget text-only increase" id="widget-postcount">
		<span>increase</span>
		<p><strong>Post Count</strong> +29 Lorem Ipsum</p>
	</div>

	<div class="widget text-only decrease" id="widget-replycount">
		<span>decrease</span>
		<p><strong>Reply Count</strong> +29 Lorem Ipsum</p>
	</div>

	<div class="widget text-only increase" id="widget-votecount">
		<span>increase</span>
		<p><strong>Vote Count</strong> +29 Lorem Ipsum</p>
	</div>
</section>